*{padding:0;margin:0;}
img{display: block;}
a{text-decoration: none;}
.head{width: 100%;height: 80px;background-color: black;}
.heade1{height: 100%;width:1430px;background-color: red;margin: 0 auto;}
.heade1 a{
    width: 167px;
    height: 60px;
    margin-top: 12px;
    float: left;
}
